
#fish{
    background-color: blueviolet;   
    margin: 20px;
    text-align: center;
    padding: 15px;
    border-radius: 20px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    box-shadow: 15px 15px 20px rgb(56, 1, 106);
    
    
}

.h2{
    text-align: center;
}

#about{
   background-color: aqua;  
   margin: 20px;
   text-align: justify;
   padding: 15px;
   font-family: 'Courier New', Courier, monospace;
   border-radius: 15px;
   box-shadow: 15px 15px 15px rgb(1, 126, 126);
}

#types{
    background-color: rgb(58, 248, 0);
    margin: 20px;
    text-align: justify;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 15px 15px 15px rgb(0, 128, 38);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#culture{
     background-color: rgb(208, 255, 0);
    margin: 20px;
    text-align: justify;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 15px 15px 15px rgb(137, 158, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#name{
  background-color: rgb(255, 144, 64);
    margin: 20px;
    text-align: justify;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 15px 15px 15px rgb(151, 33, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



























































